@import "reset.css";
@import "variable.css";
body {
  background-color: rgb(219, 219, 219);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.canvas {
  width: 700px;
  height: 700px;
  border-radius: 15px;
  background-color: white;
  box-shadow: var(--shadow);
}

.controls {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls__range {
  margin-bottom: 20px;
}

.controls__btn button {
  all: unset;
  color: rgb(172, 172, 172);
  background-color: white;
  cursor: pointer;
  padding: 5px 0;
  width: 80px;
  text-align: center;
  border-radius: 15px;
  box-shadow: var(--shadow);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.controls__btn button:hover {
  color: rgb(129, 129, 129);
}

.controls__btn button:active {
  transform: scale(0.98);
}

.controls .controls__btn {
  margin-bottom: 20px;
}

.controls .controls__colors {
  display: flex;
}

.controls__colors .controls__color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: var(--shadow);
  cursor: pointer;
  margin-right: 5px;
}
